/I2CWpfApp/.vs
/I2CWpfApp/Fl.Net/bin/Debug/netstandard2.0
/I2CWpfApp/Fl.Net/obj
/I2CWpfApp/I2CWpfApp/bin/Debug/net5.0-windows
/I2CWpfApp/I2CWpfApp/obj
/I2CWpfApp/RegisterCore.Net/bin/Debug/netstandard2.1
/I2CWpfApp/RegisterCore.Net/obj
/I2CWpfApp/RegisterSqlite.Net/bin/Debug/netstandard2.1
/I2CWpfApp/RegisterSqlite.Net/obj
/F722ZE_I2C/.settings
/F722ZE_I2C/Debug
/F722ZE_I2C/F722ZE_I2C Debug.launch
/I2CWorkspace
